* {
  margin: 0px;
  padding: 0px;
}
* {
  margin: 0px;
  padding: 0px;
}
#level {
  text-align: center;
  text-decoration: wavy rgb(49, 44, 44) underline;
}
#topic {
  text-align: center;
}
pre {
  text-align: center;
}

.inlblock {
  height: 100px;
  width: 100px;
  padding: 25px;
  margin: 25px;
  display: inline-block;
}
#div1 {
  background-color: rgba(0, 255, 0, 0.5);
  position: absolute;
  top: 20px;
}
#div2 {
  background-color: rgba(0, 255, 0, 0.7);
  position: fixed;
  top: 150px;
  left: 100px;
}
#div3 {
  background-color: rgba(0, 255, 0, 1);
  position: relative;
  top: 50px;
  right: 10px;
}
#div4 {
  background-color: rgba(0, 255, 0, 0.3);
  position: sticky;
  bottom: 100px;
  right: 150px;
}
#navbar {
  height: 60px;
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0px;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 200px;
}
button {
  background-color: yellow;
}
#logo {
  margin-left: 10px;
  font-size: 25px;
  color: orange;
}
footer {
  color: white;
  background-color: black;
  text-align: center;
  position: sticky;
  bottom: 3px;
}
#content {
  height: 463px;
}
