* {
  margin: 0px;
  padding: 0px;
}
#level {
  text-align: center;
  text-decoration: wavy rgb(49, 44, 44) underline;
}
#topic {
  text-align: center;
}
pre {
  text-align: center;
}

.inlblock {
  height: 100px;
  width: 100px;
  padding: 25px;
  margin: 25px;
  display: inline-block;
}
#div1 {
  background-color: red;
}
#div2 {
  background-color: yellow;
  visibility: hidden;
}
#div3 {
  background-color: skyblue;
}
