* {
  margin: 0px;
  padding: 0px;
}
header {
  text-align: center;
  text-decoration: wavy rgb(49, 44, 44) underline;
}
#navbar {
  height: 60px;
  background-color: black;
}
a {
  color: white;
  text-decoration: none;
  margin-right: 200px;
}
button {
  background-color: yellow;
}
#logo {
  margin-left: 10px;
  font-size: 25px;
  color: orange;
}
